<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Je donne, je prête</a>

  <div>
    <a href="{{route('auth.login')}}" class="btn btn-outline-info">connection</a>
  </div>
  </div>
</nav>