/* ------------------------------
    RESET + BASE
--------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: sans-serif;
    background-color: #ffffff;
}

/* --- Structure Principale --- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 50px;
}

main {
    padding: 15px 30px;
    width: 80%;
    margin: auto;
}

/* --- Navigation --- */
.logo img{
    width: 250px;
}

.imgbutton{
    width: 50px;
}
.imgbuttonun{
    width: 51px;
}
.textdeco{
    text-decoration: none;
    margin-right: 5px;
}
.bouton{
    display: flex;
}