main{
    display: flex;
    gap: 15px;
}
main div {
    border: 1px solid rgba(44,44,44,0.11);
    padding: 20px;
    width: 800px;
}
main .droit{
    width: 400px;
    height: 100%;
}
main div img{
    width: 100%;
    margin: auto;
}
h2, .myButton{
    margin-top: 15px;
    margin-bottom: 10px;
}
p{
    line-height: 1.5;
}
.myButton {
	box-shadow:inset -1px 0px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:5px;
    width: 100%;
    text-align: center;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:15px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}

.myButton:active {
	position:relative;
	top:1px;
}

        