    body {
        background-color: #121212; /* fond principal sombre */
        color: #e0e0e0; /* texte clair */
    }

    h1 {
        color: #ffffff;
    }

    form {
        background-color: #1e1e1e; /* fond du formulaire sombre */
        border: 1px solid #333;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    }

    label {
        color: #ccc;
    }

    input[type="text"],
    input[type="password"] {
        background-color: #2a2a2a;
        border: 1px solid #444;
        color: #fff;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
        border-color: #00bcd4;
        background-color: #333;
        outline: none;
        color: #ccc;
        box-shadow: 0 0 5px #00bcd4;
    }

    .btn-outline-info {
        color: #00bcd4;
        border-color: #00bcd4;
    }

    .btn-outline-info:hover {
        background-color: #00bcd4;
        color: #121212;
    }