/* ------------------------------
    RESET + BASE
--------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
}

/* ----------- Formulaire Login ----------- */
form {
    max-width: 500px;
    max-height: 250px;
    margin: auto;
    width: 420px;
    background: #fff;
    padding: 30px 35px;
    border-radius: 18px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ----------- Champs texte ----------- */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #d0d0d0;
    border-radius: 12px;
    font-size: 16px;
    background-color: #e9e9e9;  
    outline: none;
    transition: 0.2s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #6d8aff;
    background-color: #f5f5f58e; 
}

/* Placeholder */
::placeholder {
    color: #777;
}

/* ----------- Bouton connexion ----------- */
form button {
    width: 100%;
    padding: 12px;
    background-color: #3e5bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.2s;
}

form button:hover {
    background-color: #2e46d5;
}
