:root {
  --primary: #8a2be2;
  --secondary: #00f2ff;
  --bg-color: #0f0f0f;
  --light: #ffffff;
  --gray: #222;
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f5f5f5;
    --gray: #ffffff;
    --light: #1a1a1a;
    --primary: #6200ea;   /* Un violet un peu plus contrasté pour le blanc */
    --secondary: #00b8d4;
    --text-main: #1a1a1a;
  }
}