<header class="main-header">
  <nav class="container">
    <div class="logo">DJ<span>CONSEPT</span></div>
    <ul class="nav-links">
      <li><a href={{ route('home') }}>Accueil</a></li>
      <li><a href={{ route('how-it-works') }}>Comment ça marche</a></li>
      <li><a href={{ route('login') }} class="btn-outline">Connexion</a></li>
      <li><a href={{ route('register') }} class="btn-primary">S'inscrire</a></li>
    </ul>
  </nav>
</header>