<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DJ Concept | {{ title || '' }}</title>
  @vite([`resources/css/app.css`, `resources/css/${css}`, 'resources/js/app.js'])
</head>
<body>
  @!layout.header()

  {{{ await $slots.main() }}}

  @!layout.footer()
</body>
</html>