




<form action="/login" method="post" up-follow class="w-25 mx-auto p-3 rounded">
    {{csrfField()}}
    @!component('components/input', { name : 'User', label : 'User', type : 'text'})
    @!component('components/input', { name : 'password', label : 'Mot de passe', type : 'password' })
    <button class="btn btn-outline-info mt-2" type="submit">{{title}}</button>
</form>

@include('partials/footer')