<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Je donne, je prête – Connexion</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
   <h1>Liste des objets</h1>

      {{ object.name}}

      {{ object.description}}


  </body>
</html>
