name: Deploy Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    
    env:
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      APP_KEY: ${{ secrets.APP_KEY }}

    steps:
      - name: Récupération du code
        uses: actions/checkout@v4


      - name: Configuration de l'environnement
        run: |
          cp .env.example .env
          sed -i "s|APP_KEY=|APP_KEY=$APP_KEY|g" .env

          sed -i "s|DB_PASSWORD=root|DB_PASSWORD=$DB_PASSWORD|g" .env
          sed -i "s|DB_ROOT_PASSWORD=|DB_ROOT_PASSWORD=$DB_PASSWORD|g" .env

      - name: Build et Démarrage
        run: |
          docker compose down --remove-orphans
          docker compose up -d --build

      - name: Nettoyage
        run: docker image prune -f
